* {
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif!important;
    font-size:16px;
}


.detail-body {
    border-bottom: 1px solid #eee;
}

.container {
    max-width: 1400px !important;
}

h1, h2, h3, h4, h5, h5, h6 {
    font-family: 'Oswald', sans-serif!important;
    text-transform: uppercase;
}

.fe-auctionBody h1, .fe-auctionBody h2, .fe-auctionBody h3, .fe-auctionBody h4, .fe-auctionBody h5, .fe-auctionBody h6 {
    padding:10px 0px;
}

p, li, span {
    font-family: 'Montserrat', sans-serif!important;
}

ul {
    padding-left:1.2rem;
}

li {
    padding:8px 0px;
}

.badge {
    font-weight:200!important;
}

/** round the bootstrap buttons **/
.btn {
    border-radius: 30px !important;
    padding:8px 24px !important;
    text-transform: uppercase;
    font-weight: 400!important;
    letter-spacing: 1px;
    font-size:1rem;
    text-transform: uppercase;
    font-weight: 400;
    /** Oswald Font **/
    font-family: 'Oswald', sans-serif;
}

.btn-secondary:hover {
    /** slightly darken the background color **/
    background-color: #6c757d !important;
}



.btn-primary, .badge-primary {
    background-color:#eb6432 !important;
    border-color:#eb6432 !important;
    color:#FFF;
}

.btn-primary:hover {
    /** Slightly Darker Orange **/
    background-color:#d95a2a !important;
}

.btn:hover {
    color:#fff;
}

.btn-secondary {
    background-color: rgb(65, 100, 56)!important;
    border-color:rgb(65, 100, 56)!important;
    color:#FFF;
}

.btn-accent {
    background-color: #4caf50;
    color: #fff;
}

.btn-accent:hover {
    /** slightly darken the green color **/
    background-color: #38863a !important;
}

.fourbie-brand-header {
    max-height: 64px;
    position: relative;
    z-index: 9999;
}

.fourbie-logo {
    position: relative;
    bottom: -20px;
}

.fe-auctionHero {
    background-color: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 15px;
    padding-top: 55px;
    position: sticky;
    height: 200px;
    top: -1px;
    z-index: 998;
    margin-bottom: 0px;
    transition:0.5s;
}

.fe-auctionHero__head {
   padding-top:20px; 
}

.fe-auctionHero.is-pinned .fe-auctionHero__head {
    padding-top:2px;
}

.fe-auctionHero.is-pinned {
    height: 130px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.fe-auctionHero h1 {
    color: #040314;
    font-size: 2rem;
    font-weight: 800;
    text-align: left;
    text-transform: uppercase;
}

.fe-auctionHero h2 {
    color: #040314;
    font-size: 18px;
    text-align: left;
    font-family: 'Montserrat', sans-serif!important;
    text-transform: none;
    font-weight: 400;
}


.fe-auctionHero__nav {
    position: relative;
    top:-10px;
    z-index: 999;
}

.fe-auctionHero__nav a:first-child {
    margin-left:0px;
}

.fe-auctionHero__nav a {
    margin: 0px 5px;

}

/** Auction Info Bar **/

.fe-auctionInfoBar {
    transition: 0.5s;
    z-index: 998;
    color: #040314;
    align-items: center;
    display: flex;
    justify-content: space-around;
    
    align-items: flex-end;
    flex-direction: column;
    position: relative;
    top:-15px;
    transition: 0.2s;
}

.fe-auctionHero.is-pinned .fe-auctionInfoBar {
    top:15px;
}

.fe-auctionInfoBar>div {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    text-align: center;

    width:250px;
}

.fe-auctionInfoBar__countdown span {
    font-size: 14px;
    display: block;
    text-align: center;
    background-color: #040314;
    color: #fff;
    padding: 10px 12px;
    border-radius: 0px;
    margin: 0px 5px;
    flex-grow: 1;
}


.fe-auctionInfoBar__countdown {
    display: flex;
    align-items: center;
    flex-grow: 0!important;
    justify-content: space-between!important;
    background-color: #040314;
    width:100%;

    color: #fff;
    display: flex;
    flex-direction: column-reverse;
    padding: 10px 5px;
    flex-grow:1!important;

    /** Bottom Drop Shadow Material Design **/

    box-shadow: 0px 5px 15px -5px #111; 
}



.fe-auctionInfoBar__currentBid {
    background-color: rgb(65, 100, 56)!important;
    color: #fff;
    display: flex;
    flex-direction: column-reverse;
    padding: 10px 5px;
    flex-grow:1!important;
    
}

.fe-auctionInfoBar__currentBid h5,
.fe-auctionInfoBar__numberOfBids h5, .fe-auctionInfoBar__countdown h5 {
    margin-bottom: 1px;
}

.fe-auctionInfoBar__currentBid h3,
.fe-auctionInfoBar__numberOfBids h3, .fe-auctionInfoBar__countdown h3 {
    font-size: 14px;
    text-transform: lowercase;
    margin-bottom: 1px;
}

.fe-auctionInfoBar__numberOfBids {
    display: flex;
    flex-direction: column-reverse;
    flex-grow:1!important;
    padding: 10px 5px;
    background-color: rgba(4, 3, 20, 0.82);
    color: #fff;
}




/** End Auction Info Bar **/

/** Auction Image Gallery **/

.fe-vehicleGallery {
    margin:0 auto;
    margin-top:20px;

}

.fe-vehicleGallery__mainImage img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.fe-vehicleGallery__thumbnails {
    height: 600px;
    overflow: hidden;
    width: 100%;
}

.fe-vehicleGallery__thumbnails li:first-child {
    background-color:#040314;
    display: flex;
    align-items: stretch;
    color:#fff;
}

.fe-vehicleGallery__thumbnails li:first-child button {
    background-color:rgba(4, 3, 20, 0.82);
    border-radius: 0px!important;
}

.fe-vehicleGallery__thumbnails li {
    list-style: none;
    width: 50%;
    padding: 1px;
    height: calc(600px / 4);
}

.fe-vehicleGallery__thumbnails li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.fe-vehicleGallery__thumbnails li img:hover {
    opacity: 0.8;
}

.fe-vehicleGallery__thumbnails ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    justify-content: space-between;
    padding: 0px;
}

.fe-vehicleGallery__pagination>button {
    flex-grow: 1!important;
    color:#040314;
}

/** End Auction Image Gallery **/

/** About The Seller Callout **/
.card.fe-sellerInfo {
    background-color: #040314;
    box-shadow: 0 15px 50px rgb(0 0 0 / 20%);
    color:#fff;
    border-radius: 0px;

}

.fe-sellerInfo .card-header {
    /* font-family: 'Oswald', sans-serif;
    color: #fff;
    padding: 10px 15px;
    text-transform: uppercase;
    border-bottom: none;
    text-align: left;
    font-weight: 600;

    font-size: 1.25rem;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.75px; */
}

/** Auction Body Stuff **/


.fe-auctionBody {
    border-left:2px solid #eee;
    padding-top:15px;
}
.blog-main {
    border-right: 1px solid #eee;
}
/** Auctions Ending Soon **/
.fe-auctionsEndingSoon {
    display: flex;
}

.fe-auctionsEndingSoon__item {
    margin-top:5px;
    margin-bottom:10px;
    border:none!important;
    min-height:280px;
    overflow: hidden;
    cursor:pointer;
    padding:2px;
}

.fe-auctionsEndingSoon__location {
    display: block;
    color:#000;
    font-weight: bold;
    font-size:0.75rem;
}

.fe-auctionsEndingSoon__item h5 {
    padding-bottom:2px;
    font-weight: 800;
    padding-right: 25px;
    letter-spacing: 0.75px;
}

.fe-auctionsEndingSoon__item .card-body {
    padding: 5px 1px;
}

.fe-auctionsEndingSoon__item .card-title {
    font-size:16px;
    margin-bottom: 3px;
}

.fe-auctionsEndingSoon__item p {
    font-size:0.75rem;
}

.fe-auctionsEndingSoon__item:hover img {
    opacity: 0.8;
}