* {
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif!important;
    font-size:16px;
}

.container {
    max-width: 1400px !important;
}

h1, h2, h3, h4, h5, h5, h6 {
    font-family: 'Oswald', sans-serif!important;
    text-transform: uppercase;
}

.fe-auctionBody h1, .fe-auctionBody h2, .fe-auctionBody h3, .fe-auctionBody h4, .fe-auctionBody h5, .fe-auctionBody h6 {
    padding:10px 0px;
}

h4, .h4 {
    font-size: 42px!important;
    font-weight: 800!important;
    
}

p, li, span {
    font-family: 'Quattrocento', sans-serif!important;
}

ul {
    padding-left:1.2rem;
}

li {
    padding:4px 0px;
}



.badge {
    font-weight:100!important;
    font-family: 'Oswald', sans-serif!important;
    text-transform: uppercase!important;
    font-size: .875rem!important;
}

/** round the bootstrap buttons **/
.btn {
  
    padding:8px 24px !important;
    text-transform: uppercase;
    font-weight: 400!important;
    letter-spacing: 1px;
    font-size:1rem;
    text-transform: uppercase;
    font-weight: 400;
    /** Oswald Font **/
    font-family: 'Oswald', sans-serif;
}

.btn-secondary:hover {
    /** slightly darken the background color **/
    background-color: #6c757d !important;
}



.btn-primary, .badge-primary {
    background-color:#eb6432 !important;
    border-color:#eb6432 !important;
    color:#FFF;
}

.btn-primary:hover {
    /** Slightly Darker Orange **/
    background-color:#d95a2a !important;
}

.btn:hover {
    color:#fff;
}

.btn-secondary {
    background-color: rgb(65, 100, 56)!important;
    border-color:rgb(65, 100, 56)!important;
    color:#FFF;
}

.btn-accent {
    background-color: #4caf50;
    color: #fff;
}

.btn-accent:hover {
    /** slightly darken the green color **/
    background-color: #38863a !important;
}

.fourbie-brand-header {
    max-height: 64px;
    position: relative;
    z-index: 9999;
}

.fourbie-logo {
    position: relative;
    bottom: -20px;
}

.fe-auctionHero {
    background-color: #fff;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-bottom: 15px;
    padding-top: 85px;
    width: 100%;
    top:0px;
    height: 80vh;
    background-image: url(../img/demo-auction/2/140.jpg);
    z-index: 998;

    display: flex;
    align-items:center;
    justify-content: center;
    padding-left:15px;
    position: static;
}

.fe-auctionHero  .badge {
    position:relative;
    top:-2px;
}

.fe-auctionHero__content {

    align-items: center;
    width:95%;
    max-width:1400px;
    margin:0 auto;
}

.fe-auctionHero__content--pinned {
    position: fixed!important;
    top:10px;
    width: 100%;
    z-index: 9999;
    pointer-events: none;
}

.fe-auctionHero__head {
   padding-top:20px;
   position: relative;
   top:0px;
   transition: 0.5s;
   background-color:rgb(0 0 0 / 40%);
   opacity: 1;
}

.fe-auctionHero__content--pinned .fe-auctionHero__head {
    background-color:rgb(0 0 0 / 100%);
    opacity: 0;
}

.fe-auctionHero.is-pinned .fe-auctionHero__head {
    padding-top:2px;
}

.fe-auctionHero.is-pinned {
    height: 130px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
    background-image:unset;
}

.fe-auctionHero h1 {
    color: #fff;
 
    padding:5px;
    font-size: 2rem;
    font-weight: 800;
    text-align: left;
    text-transform: uppercase;
  
    padding-right:10px;
    padding-left:10px;
}

.fe-auctionHero h2 {
    color: #fff;
    font-size: 16px;
    text-align: left;
    font-family: 'Montserrat', sans-serif!important;
    text-transform: none;
    font-weight: 400;
   
    padding:7px 10px;

    position: relative;
    top:-10px;
}




.fe-auctionHero__nav {
    z-index: 999;
    position: sticky;
    top:0px;
    background-color: #fff;
    padding-top:20px;
    padding-bottom:20px;
    display: flex;
    justify-content: flex-start;

}

.fe-auctionHero__nav a:first-child {
    margin-left:0px;
}

.fe-auctionHero__nav a {
    margin: 0px 5px;

}

/** Auction Info Bar **/

.fe-auctionInfoBar {
    transition: 0.5s;
    z-index: 998;
    color: #040314;
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-right:7px;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
    transition: 0.2s;
    
}

.fe-auctionHero.is-pinned .fe-auctionInfoBar {
    top:15px;
}

.fe-auctionInfoBar>div {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
    background-color:rgb(0 0 0 / 40%);
    pointer-events: all;
    width:250px;
}

.fe-auctionHero__content--pinned .fe-auctionInfoBar>div {
    background-color:rgb(0 0 0 / 100%);
}

.fe-auctionInfoBar__countdown span {
    font-size: 14px;
    display: block;
    text-align: center;
    background-color:rgb(0 0 0 / 40%);
    color: #fff;
    padding: 10px 12px;
    border-radius: 0px;
    margin: 0px 5px;
    flex-grow: 1;
}


.fe-auctionInfoBar__countdown {
    display: flex;
    align-items: center;
    flex-grow: 0!important;
    justify-content: space-between!important;
    width:100%;

    color: #fff;
    display: flex;
    flex-direction: column-reverse;
    padding: 10px 5px;
    flex-grow:1!important;
    border-top:1px solid #eee;

    /** Bottom Drop Shadow Material Design **/
    
}



.fe-auctionInfoBar__currentBid {
    color: #fff;
    display: flex;
    flex-direction: column-reverse;
    padding: 10px 5px;
    flex-grow:1!important;
    border-right:1px solid #eee;
    
    
    
}

.fe-auctionInfoBar__currentBid h5,
.fe-auctionInfoBar__numberOfBids h5, .fe-auctionInfoBar__countdown h5 {
    margin-bottom: 1px;
}

.fe-auctionInfoBar__currentBid h3,
.fe-auctionInfoBar__numberOfBids h3, .fe-auctionInfoBar__countdown h3 {
    font-size: 14px;
    text-transform: lowercase;
    margin-bottom: 1px;
}

.fe-auctionInfoBar__numberOfBids {
    display: flex;
    flex-direction: column-reverse;
    flex-grow:1!important;
    padding: 10px 5px;
    color: #fff;
}




/** End Auction Info Bar **/

/** Auction Image Gallery **/

.fe-vehicleGallery {
    margin:0 auto;
    margin-top:20px;
    margin-bottom:20px;
    height:100vh;
    overflow: hidden;
}

.fe-vehicleGallery__mainImage img {
    width: 100%;
    height:800px;
    object-fit: cover;
}

.fe-vehicleGallery__thumbnails {
    overflow: hidden;
    width: 100%;
    flex-grow: 1;
}

.fe-vehicleGallery__thumbnails li:last-child {
    background-color:#040314;
    display: flex;
    align-items: stretch;
    color:#fff;
}

.fe-vehicleGallery__thumbnails li:last-child button {
    background-color:rgba(4, 3, 20, 0.82);
    border-radius: 0px!important;
}

.fe-vehicleGallery__thumbnails li {
    list-style: none;
    width: 20%;
    padding: 1px;
    height:calc(100vh/3);
}

.fe-vehicleGallery__thumbnails li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.fe-vehicleGallery__thumbnails li img:hover {
    opacity: 0.8;
}

.fe-vehicleGallery__thumbnails ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    justify-content: space-between;
    padding: 0px;
}

.fe-vehicleGallery__pagination>button {
    flex-grow: 1!important;
    color:#040314;
}

/** End Auction Image Gallery **/

/** About The Seller Callout **/
.card.fe-sellerInfo {
    background-color: #040314;
    box-shadow: 0 15px 50px rgb(0 0 0 / 20%);
    color:#fff;
    border-radius: 0px;
    position: sticky;
    transition: 0s;;
    top:175px;
}

.card.fe-sellerInfo .badge {
    position: absolute;
    top:15px;
}

.card.card.fe-sellerInfo .card-title {
    padding-bottom:5px;
    margin-bottom:5px;
}

.card.fe-sellerInfo .card-subtitle {
    padding-top:5px;
}

/** End About The Seller Callout **/


/** Auction Body Stuff **/




/** Auctions Ending Soon **/
.fe-auctionsEndingSoon {
    display: flex;
}

.fe-auctionsEndingSoon__item {
    margin-top:5px;
    margin-bottom:10px;
    border:none!important;
    min-height:280px;
    overflow: hidden;
    cursor:pointer;
    padding:2px;
}

.fe-auctionsEndingSoon__location {
    display: block;
    color:#000;
    font-weight: bold;
    font-size:0.75rem;
}

.fe-auctionsEndingSoon__item h5 {
    padding-bottom:2px;
    font-weight: 800;
    padding-right: 25px;
    letter-spacing: 0.75px;
}

.fe-auctionsEndingSoon__item .card-body {
    padding: 5px 1px;
}

.fe-auctionsEndingSoon__item .card-title {
    font-size:16px;
    margin-bottom: 3px;
}

.fe-auctionsEndingSoon__item p {
    font-size:0.75rem;
}

.fe-auctionsEndingSoon__item:hover img {
    opacity: 0.8;
}

footer a {
    color:#fff;
}

.fe-vehicleSpecs {
    color:#fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top:10px;
}

.fe-vehicleSpecs__item {
    display: flex;
    width:100%;
    align-items: center;
}

@media screen and (min-width: 960px) {
    .fe-vehicleSpecs__item {
        width:50%;
    }
}

.fe-auctionInDepth {
    background-color:#eee; padding-top:25px;
}

.fe-auctionInDepth li {
    display: inline-block;
    font-size: 16px;
    list-style: none;
    background-color:#040314;
    color:#fff;
    margin:10px 0px;
    padding:10px;
}

.fe-auctionInDepth button.btn-link {
    color:#040314;
    font-size: 16px;
    font-weight: 800;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    border: none;
    background-color: transparent;
}

.fe-auctionInDepth button.btn-link.active {
    color:#fff;
    background-color:#040314;
}
    

.fe-vehicleSpecs__item>h3 {
    width: 30%;
    background-color:#040314;
    color:#eee;
    text-indent: 15px;
    font-size:14px;
    text-overflow: ellipsis;
    overflow: hidden;
white-space: nowrap;
}

.fe-vehicleSpecs__item>h5 {
    width: 70%;
    background-color:#eee;
    color:#040314;
    text-indent: 15px;
    font-size:14px;
}

.fe-bidsAndComments__commentsList__comment {
    border-bottom:1px solid #eee;
    padding:25px;
    margin:10px 0px;
    transition:0.4s;
}

.fe-bidsAndComments__commentsList__comment:hover {
    background-color:#eee;

}

